@model WebApplication1.Models.registration

@{
    ViewBag.Title = "Details";
}



<div>
    <h2 style="font-family:'Agency FB'; color:darkblue">registrater Details</h2>
    <hr />
    <dl class="dl-horizontal" style="background-image: url('../image/bac2.jpg'); background-repeat: no-repeat;">
        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.batch.batch1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.batch.batch1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course.course1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course.course1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
